/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

:root{
  --cudos-blue: #4D80E8;
  --cudos-turquoise: #6DD0F1;
  --cudos-grey: #1B2031; 
}

.markdown img {
  margin: auto;
  display: block;
  width: 300px;
}
